/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is on top */

}
.notice-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55px; /* Adjust this value based on your navbar height */
    animation: slideNotice 20s linear infinite; /* Adjust animation duration as needed */
}

.notice {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.marquee {
    background-color: #007bff; /* Blue background */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    animation: slideNotice 20s linear infinite; /* Adjust animation duration as needed */
}
@keyframes slideNotice {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 20px auto; /* Center container */
    text-align: center; /* Center text and form inside container */
}

h1 {
    margin-bottom: 20px;
}

form {
    width: 100%; /* Ensure form takes full width of container */
    max-width: 400px; /* Limit maximum width of form */
    margin: 0 auto; /* Center form horizontally */
}

form .form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 20px;
}


